@import "tailwindcss";

@theme {
  --color-primary: #0dcbb5;
  --color-primary-dark: #0ba593;
  --color-sidebar: #f0f1fa;
  --color-main: #f8f9fe;
  --color-card: #ecedf6;
  --color-dark: #1e1e2f;
  --color-dark-lighter: #2d2d42;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: var(--color-main);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}
